:root{
--text-color: #A61248;
--bg-color: #79C4F2;
--accent-color: #2C42BF;
--title-font: "kuhlman-vf", sans-serif;
--text-font: "adapter-mono-pe-variable", sans-serif;

}
html {
    font-size: 100;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--fuente-texto);
    
}

a {
color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "kuhlman-vf", sans-serif;
    font-variation-settings: "SEED" 2, "wdth" 125;
}

h1 { 
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h4 { 
    font-size: 1em;
}

