html {
    font-size: 100;
}

body {
    background-color: rgb(161, 191, 217);
    color: rgb(250, 54, 133);
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 200;
}

a {
color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "kuhlman-vf", sans-serif;
    font-variation-settings: "SEED" 2, "wdth" 125;
}
